@charset "utf-8";

@use '../../Foundation/variables' as v;
@use '../../Foundation/mixin' as m;

.p-topview {
    background-image: url(../../../img/rectangle-blue.svg);
    background-size: cover;
    background-position: center center;
}